* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 1rem = 16px */
  font-size: 62.5%;

  /* white to black */

  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;

  /* yellow */

  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;

  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

main {
  background-color: var(--w);
  padding-bottom: 300px;
}

.intro-title {
  font-family: var(--ff-poppins);
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

.intro-title span {
  color: var(--p1);
}

/* header */

header {
  background-color: var(--c12);
  width: 100%;
}

.header-bg {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: space-between;
  padding: 2.4rem;
  max-width: 1120px;
  align-items: center;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu li a {
  padding: 2rem 0 1rem;
  font-family: var(--ff-poppins);
  color: var(--w);
  font-size: 1.8rem;
  line-height: 3.2rem;
  position: relative;
  display: inline-block;
}

.header-menu li a::after {
  content: '';
  position: absolute;
  left: 0px;
  width: 0;
  height: 2px;
  background-color: var(--w);
  display: block;
}

.header-menu li a:hover:after {
  transition: 0.4s;
  width: 100%;
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1rem;
  }
  .header-menu li a {
    background-color: var(--c11);
    padding: 1.2rem;
    border-radius: 5px;
    gap: 0px;
  }
  .header-menu li a:hover {
    background-color: var(--c10);
  }
  .header-menu li a::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-menu li a {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
}

/* introdução */

#home {
  background-color: var(--c12);
  box-shadow: inset 0 -60px #fff;
}
.home-text-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
  color: var(--w);
  align-items: center;
  justify-items: left;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2.4rem;
}
#home .intro-title {
  font-size: 5.6rem;
  margin-bottom: 3.2rem;
}
.home-text-area div:first-child {
  align-self: end;
  gap: 30px;
  margin-bottom: 12rem;
}
.home-text-area img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 3px;
}
.home-text {
  margin-bottom: 3.2rem;
  font-family: var(--ff-roboto);
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--c5);
}
.home-btn {
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--p5);

  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.home-btn:hover {
  box-shadow: 0px 0px 12px 0px rgb(255 255 255 / 48%);
  transition: 0.5s;
  filter: brightness(0.9);
}

@media (max-width: 710px) {
  #home {
    background-color: var(--c11);
  }

  #home .intro-title {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .home-text {
    font-size: 2rem;
  }

  .home-text-area {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-text-area img {
    display: none;
  }

  .home-btn {
    padding: 1.2rem 2.4rem;
  }
}
