.intro-title {
  font-family: var(--ff-poppins);
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

.intro-title span {
  color: var(--p1);
}

.intro-text {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.btn {
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--p5);

  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;

  max-width: max-content;
}

.btn:hover {
  box-shadow: 0px 0px 12px 0px rgb(255 255 255 / 48%);
  transition: 0.5s;
  filter: brightness(0.9);
}

.btn.seta {
  display: flex;
  align-items: center;
}

.btn.seta::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url('../../img/icones/seta.svg');
  transition: transform 0.2s;
}

.btn.seta:hover::after {
  transform: translateX(4px);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2.4rem;
}
