#about {
  padding: 0 2.4rem !important;
  box-shadow: inset 0px 80px #fff, inset 0px -80px #fff;
}

.about-intro {
  display: block;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#about .intro-title {
  margin-bottom: 3.2rem;
  width: 13ch;
}

#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.about-content {
  padding: 16rem 0;
}

.about-text {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
.about-intro2 {
  display: inline-block;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--p1);
  border-bottom: 4px solid var(--p1);
  margin-bottom: 6rem;
}

.about-intro2:hover {
  transition: 0.5s;
  filter: brightness(1.1);
}

.about-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.about-vantagens {
  display: flex;
  gap: 2rem;
}

.about-card img {
  width: 25px;
}

.about-title2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.about-bike {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 690px) {
  #about {
    box-shadow: none;
  }

  .about-content {
    padding: 6rem 0px;
  }

  #about .intro-title {
    word-break: break-word;
    font-size: 2.8rem;
    line-height: initial;
    width: auto;
  }

  #about .container {
    grid-template-columns: 1fr;
  }

  .about-text {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .about-intro2 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .about-photo {
    display: none;
  }

  .about-vantagens {
    flex-direction: column;
  }
}
