#home {
  background-color: var(--c12);
  box-shadow: inset 0 -60px #fff;
}
.home-text-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
  color: var(--w);
  align-items: center;
  justify-items: left;
}
#home .intro-title {
  font-size: 5.6rem;
  margin-bottom: 3.2rem;
}
.home-text-area div:first-child {
  align-self: end;
  gap: 30px;
  margin-bottom: 12rem;
}
.home-text-area img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 3px;
}

@media (max-width: 710px) {
  #home {
    background-color: var(--c11);
  }

  #home .intro-title {
    font-size: 4rem;
    line-height: 3.8rem;
  }

  .intro-text {
    font-size: 2rem;
  }

  .home-text-area {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-text-area img {
    display: none;
  }

  .home.btn {
    padding: 1.2rem 2.4rem;
  }
}
