.modelos {
  padding: 12rem 2.4rem;
  display: grid;
  height: 100%;
}

.modelos .intro-title {
  margin-bottom: 4rem;
}

.modelos .bike-list {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.bike-list img {
  object-fit: cover;
  height: 40rem;
  width: 100vw;
  object-position: center center;
  border-radius: 5px;
  margin-bottom: 1.6rem;
}

.bike-list img:hover {
  transition: 0.5s;
  transform: scale(1.02);
}

.bike-title {
  position: relative;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3rem;
  margin-left: 1.5rem;
}

.bike-title::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 0.6rem;
  left: -1.5rem;
  top: 1rem;
  background: #ffbb00;
}

.bike-price {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 1.5rem;
}
@media (max-width: 710px) {
  .modelos .intro-title {
    font-size: 4rem;
    line-height: 3.8rem;
  }

  .modelos {
    padding: 8rem 2.4rem;
  }
}

@media (max-width: 650px) {
  .modelos .bike-list img {
    height: unset;
    width: unset;
  }
  .modelos .bike-list li {
    min-width: 300px;
  }
  .modelos .bike-list {
    overflow-x: auto;
  }
}
