#seguros {
  padding-bottom: 12rem;
}

#seguros .intro-title {
  padding: 6rem 0;
}
.seguros-content {
  display: flex;
  gap: 4rem;

  align-items: center;
}
.seguro-card {
  position: relative;
  padding: 3.2rem 6rem;
  border-radius: 5px;
  width: 50rem;
}
.seguro-title {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.seguro-lista {
  display: grid;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.seguro-lista li {
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
}

.seguro-lista li::before {
  position: absolute;
  left: -20px;
  content: url('../../img/icones/lista.svg');
}

.btn.silver {
  background: var(--c10);
}
.seguro-preco {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.8rem;
  font-weight: 600;
}
.seguro-preco::after {
  content: 'mensal';
  position: absolute;
  font-family: var(--ff-poppins);
  color: var(--c6);
  font-size: 12px;
  bottom: -10px;
  right: 0px;
}

@media (max-width: 768px) {
  .seguros-content {
    flex-direction: column;
  }
  .seguro-card {
    padding: 3.2rem 6rem;
    width: auto;
  }
}
