.contato-page body,
.contato-page main {
  background-color: var(--c1);
}

.contato-page .titulo-bg {
  background: linear-gradient(180deg, var(--c11) 75%, var(--c1) 0);
}

.contato-bg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 2.4rem;
}
.contatos {
  padding: 4rem;
  border-radius: 5px 0 0 5px;
  position: relative;
}

.contatos span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 6rem;
}

.contatos ul {
  display: grid;
  gap: 12px;
  font-size: 1.6rem;
  padding-left: 24px;
  position: relative;
}

.endereco {
  margin-bottom: 3.2rem;
}

.endereco::after {
  content: url('../../img/icones/local.svg');
  position: absolute;
  top: 0px;
  left: 0px;
}

.emails {
  margin-bottom: 3.2rem;
}
.emails::after {
  content: url('../../img/icones/email.svg');
  position: absolute;
  top: 0px;
  left: 0px;
}

.number {
  margin-bottom: 6rem;
}
.number::after {
  content: url('../../img/icones/telefone.svg');
  position: absolute;
  top: 0px;
  left: 0px;
}

.redes-sociais {
  display: flex !important;
  gap: 3.2rem !important;
}

.details {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  transform: rotate(180deg);
}

.formulario {
  padding: 4rem;
  border-radius: 0 5px 5px 0;
  background-color: var(--w);
}

.formulario form {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  gap: 0 2rem;
}

.formulario input {
  padding: 1.2rem;
  border-radius: 5px;
  background-color: var(--c1);
  border: 1px solid var(--c2);
  font-family: var(--ff-roboto);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.formulario label {
  font-family: var(--ff-poppins);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

label:nth-child(1) {
  grid-area: 1/1;
}
label:nth-child(2) {
  grid-area: 1/2;
}

#name {
  grid-area: 2/1;
}

#telefone {
  grid-area: 2/2;
}
#email {
  grid-column: 3/-1;
}

label:nth-child(4),
#textarea {
  grid-column: 3/-1;
}

#textarea {
  padding: 1.2rem;
  border-radius: 5px;
  background-color: var(--c1);
  border: 1px solid var(--c2);
  font-family: var(--ff-roboto);
  font-size: 1.6rem;
  margin-bottom: 2rem;
  resize: none;
}
#textarea:focus-visible,
input:focus-visible {
  outline: 0;
}

form .btn {
  border: none;
}

.locais-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-bottom: 12rem;
}
.locais-bg .intro-title {
  padding: 12rem 0 6rem;
  grid-column: 1/-1;
}

.cidade {
  background-color: var(--w);
  border-radius: 0px 0px 5px 5px;
}

.cidade-dados {
  padding: 3.2rem 6rem;
}
.cidade-dados h1 {
  font-weight: 600;
  font-size: 32px;
  position: relative;
}
.cidade-dados h1::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  left: -18px;
  top: 20px;
  background: #ffbb00;
}

.cidade .lista-dados {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  margin-left: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem 0;

  font-weight: 500;
  font-size: 1.6rem;
}

.cidade .horario {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 6px;
}
.cidade .horario::before {
  content: url('../../img/icones/horario.svg');
  position: absolute;
  left: -20px;
}

@media (max-width: 860px) {
  .contato-bg {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr auto;
  }
  .contatos {
    height: max-content;
    grid-row: 2;
    border-radius: 0px 0 5px 5px;
    padding-bottom: 10rem;
  }
  .formulario {
    border-radius: 5px 5px 0px 0;
  }

  .formulario form {
    display: flex;
    gap: 0 2rem;
    flex-direction: column;
  }

  .locais-bg {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .formulario {
    padding: 2rem;
  }
  .details {
    display: none;
  }
  .locais-bg .intro-title {
    font-size: 4.4rem;
    line-height: 2.2rem;
    padding: 6rem 0 !important;
  }
}
