.seguro-page .seguros-content {
  padding-bottom: 12rem;
}

.seguro-page .seguro-lista li::before {
  position: absolute;
  left: -20px;
  content: url('../../img/icones/lista.svg');
}

.vatagens-bg {
  padding: 12rem 2.4rem !important;
}

.vatagens-bg .intro-title,
.perguntas-bg .intro-title {
  margin-bottom: 9.2rem;
}

.vantagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, max-content));
  gap: 4rem;
}

.vantages-card {
  display: grid;
  gap: 12px;
}

.vantages-card span {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.vantages-card p {
  font-size: 18px;
  line-height: 24px;
}

.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas h1 {
  margin-bottom: 60px;
}

.perguntas div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--c3);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
}

.perguntas button::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
}

.perguntas button::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url('../../img/icones/seta-abrir.svg');
  transition: transform 0.5s;
}

.perguntas .ativa button::after {
  transform: rotate(180deg);
}

.perguntas dd {
  display: none;
  font-family: 'Roboto';
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #404040;
}

.perguntas dd.ativa {
  display: block;
}

.perguntas dd {
  padding-left: 2rem;
  padding-top: 1.6rem;
  max-width: 80ch;
}

@media (max-width: 600px) {
  .seguro-page .intro-title {
    font-size: 3.8rem;
    line-height: 4.2rem;
  }

  .perguntas {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
